<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/core.js"></script>
</head>
<body>
<a href="#" id="top-btn">TO TOP</a>
{{> header}}
{{> bottomheader}}
{{> columns}}
<div class="content">
    <h2>Choose the only winner</h2>
    <div class="meme-pick ">
        <div class="meme column">
            <img class="meme-pic" id="meme1" src="{{meme1.url}}" data-id="{{meme1.id}}"/>
        </div>
        <div class="meme column">
            <img class="meme-pic" id="meme2" src="{{meme2.url}}" data-id="{{meme2.id}}">
        </div>
    </div>
</div>
{{> footer}}
</body>
</html>